<div class="controls">
  <div class="toggle-group">
    <span class="toggle-label" data-es="Tema" data-en="Theme">Tema</span>
    <label class="toggle-switch">
      <input type="checkbox" id="themeToggle" onchange="toggleTheme()" />
      <div class="toggle-track"></div>
      <div class="toggle-knob"><span id="themeIcon">&#127769;</span></div>
    </label>
  </div>
  <div class="toggle-group">
    <span class="toggle-label">ES / EN</span>
    <label class="toggle-switch">
      <input type="checkbox" id="langToggle" onchange="toggleLang()" />
      <div class="toggle-track"></div>
      <div class="toggle-knob"><span id="langIcon">&#127474;&#127485;</span></div>
    </label>
  </div>
</div>
